*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: openSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: openSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: BebasNeue;
  font-display: swap;
  src: url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

.wrapper {
  min-height: 100%;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.test {
  width: 100%;
  height: 100%;
}

.screen__content {
  padding: 100px 25px 25px 25px;
  position: relative;
  z-index: 2;
}

.screen__title {
  font-size: 50px;
  margin-bottom: 30px;
  display: inline-block;
  color: white;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.test {
  width: 100%;
}

.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background-color: white;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.page__drag-scroll {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
